# Google Apps Script Web App Deployment URL for Bucket List moderation
# Example: https://script.google.com/macros/s/AKfycbx.../exec
VITE_SHEET_API_URL=https://script.google.com/macros/s/AKfycbz-fJITQQTy1SoSwf1NdNRXgVFNcnNU8OhO09xQtBbKZ3RSgYhvXcaGuQdjaQGwe4fI/exec 
