# 1. Bucket List Sheet Web App URL
VITE_SHEET_API_URL=https://script.google.com/macros/s/AKfycbz-fJITQQTy1SoSwf1NdNRXgVFNcnNU8OhO09xQtBbKZ3RSgYhvXcaGuQdjaQGwe4fI/exec

# 2. Dedicated Newsletter Subscribers Sheet Web App URL
VITE_NEWSLETTER_API_URL=https://script.google.com/macros/s/AKfycbwsXQAu04Qwy_dwK4-iHfD1FXolooBvOYXaQ0rJbBfEKhBfgMh_4V2WG3ko1Kh-Vwdk/exec

# 3. (Optional) Contact Messages Web App / Email Dispatcher URL
VITE_CONTACT_API_URL=https://script.google.com/macros/s/AKfycbz-fJITQQTy1SoSwf1NdNRXgVFNcnNU8OhO09xQtBbKZ3RSgYhvXcaGuQdjaQGwe4fI/exec


 
